//
// Custom overrides from a user.
//
blockquote{
    border-left: .25em solid #343434;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-right: 1em;
    padding-left: 1em;
}

ol {   
    list-style-type: decimal;
}

h1,
h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #343434;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-weight: 600;
}

h1 {
    font-size: 2em;
}

h2 {
    color: #dcdcdc;
}

#title-Style,
#title-as,
#title-Code {
    padding-left: .2em;
    padding-right: .2em;
    flex-grow: 0;
}

#title-Style {
    font-style: italic;
}

#title-Code { 
    font-family: $mono-font-family;
    padding-top: .8rem;
}

.site-header {
    display: inline;
    justify-content: center;
}

.navigation-list-item {
    @include fs-5;
}

.main-nav {
    display: block;
}