//
// Custom overrides from a user.
//
h1,
h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #242424;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-weight: 600;
}

h1 {
    font-size: 2em;
}

.page-content h1:first-of-type {
    margin-top: 0;
}

h2 {
    margin-top: 0;
    color: #dcdcdc;
}

#title-Style,
#title-as,
#title-Code {
    padding-left: .2em;
    padding-right: .2em;
    flex-grow: 0;
}

#title-Style {
    font-style: italic;
}

#title-Code { 
    font-family: $mono-font-family;
    padding-top: .8rem;
}

.site-header {
    display: flex;
    justify-content: center;
}

.navigation-list-item {
    @include fs-5;
}

.navigation-list-child-list > .navigation-list-item {
    @include fs-4;
}

.main-nav {
    display: block;
}

.page-header,
.site-header {
    border-bottom-color: #343434;
}

.side-bar {
    border-right-color: #343434;
}

hr {
    background-color: #343434;
}

code {
    border-radius: 3px;
    background-color: #222222;
    border-color: rgba(255, 255, 255, .1);
    color: #bebebe;
}

.table-wrapper {
    border-radius: 0em;
}

table {
    border-color: #343434;
    color: #bebebe;
}

tr:nth-child(2n) {
    background: #141414;
}

thead th,
td,
th,
tr{
    border-color: rgb(52, 52, 52);
    background: #1c1c1c;
}

h4,
.text-delta {
    text-transform: none;
    border-bottom-width: 0px;
}

.navigation {
    padding-top: 24px;
}

blockquote {
    border-left: .25em solid #343434;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-right: 1em;
    padding-left: 1em;
}

pre,
h3,
ol,
ul,
p,
blockquote {
    margin-left: .5em;
    max-width: 700px;
}

#edit-link{
    float: right;
    @include fs-3;
}